.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    text-align: center;
    width: 100%; 
    h1 {
      font-weight: 700;
      color: $white;
    }
    h2 {
      font-weight: 300;
    }
    ul {
      list-style: none;
      margin: 3.0rem 0 1.0rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          color: $white;
          text-transform: uppercase;
          margin-left: 1.0rem;
          margin-right: 1.0rem;
          font-size: 1.6rem;
          &:hover,
          &:focus {
            color: $green;
          }
          @media only screen and (max-width : 768px) {
            font-size: 1.4rem;
          }
          i {
            font-size: 3.2rem;
          }
        }
      }
    }
  }
}


.section{
  min-height: 100vh;
  padding: 150px 0;
  align-self: center;
  @media(max-width: 768px){
    padding: 90px 0;
  }
}

.home{
  height: 100vh; 
  background-image: url(../images/bg.jpg); 
  background-size: cover;
}

.about{
  text-align: center;
  width: 100%; 
  margin: 0 auto;
  h2{
    border-bottom: 1px solid $green;
    padding-bottom: 15px;
    margin-bottom: 35px;
  }
  h3 {
    font-weight: 300;
    text-align: justify;
    @media only screen and (max-width : 768px){
      text-align: left;
    }
  }
}

.downloads{
  width: 100%;
  .downloads-container{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
  
    h2{
      border-bottom: 1px solid $green;
      padding-bottom: 15px;
      margin-bottom: 35px;
    }
    img{
      margin: 20px;
      width: 250px;
      display: inline-block;
      @media(max-width: 500px){
        width: 100%;
        margin: 20px auto;
      }
    }
  }
}

.chat{
  text-align: center;
  width: 100%;
  h2{
    border-bottom: 1px solid $green;
    padding-bottom: 15px;
    margin-bottom: 35px;
  }
  .chat-info-container{
    margin-top: 20px;
    text-align: justify;
  }
  p, h3{
    margin: 10px 0px;
    @media only screen and (max-width : 768px){
      text-align: left;
    }
  }
  h3{
    font-weight: 300;
  }
}

.add-margin {
  margin-right: 5px;
  margin-left: 5px;
}