{{ partial "head.html" . }}

<style>
  #downloadsLink{
    color: var(--green);
  }
</style>

{{ partial "header.html" . }}

<section id="downloads" class="centered downloads section">
  <div class="container">
    <div class="downloads-container">
        <h2 >Decred Wallet For Mobile</h2>
        <a href="https://play.google.com/store/apps/details?id=com.decred.dcrandroid.mainnet" target="_blank"><img src="{{ "../images/google-store-icon.png" | absURL }}" alt="AndroidApp"></a>
        <a href="https://apps.apple.com/us/app/decred-wallet/id1462247643" target="_blank"><img src="{{ "../images/apple-store-icon.png" | absURL }}" alt="iOSAPP"></a>
    </div>
  </div>
</section>

{{ partial "scripts.html" .}}
