{{ partial "head.html" . }}

<style>
  #aboutLink{
    color: var(--green);
  }
</style>

{{ partial "header.html" . }}

<section id="about" class="centered about section">
  <div class="container">
    <h2>About</h2>
    <h3>Planet Decred is an open-source community where developers from around the world can integrate, develop and build for Decred. We organize to provide the infrastructure, tools, and support to bring new members up to speed quickly. We are a resource to help the entire Decred economy grow. To learn more about the Decred blockchain, visit the <a href="https://docs.decred.org/" target="_blank">documentation</a>. For developers, see the <a href="https://devdocs.decred.org/" target="_target">dev docs.</a>  Come <a href="/chat">chat</a> with us.</h3>
  </div>
</section>

{{ partial "scripts.html" .}}
