{{ partial "head.html" . }}

<style>
  #aboutLink{
    color: var(--green);
  }
</style>

{{ partial "header.html" . }}

<section id="about" class="centered about section">
  <div class="container">
    <h2>About</h2>
    <h3>A community-managed open source project building infrastructure for the Decred blockchain. To learn more about Decred, visit the <a href="https://docs.decred.org/" target="_blank">documentation</a>. For developers, see the <a href="https://devdocs.decred.org/" target="_target">dev docs.</a></h3>
  </div>
</section>

{{ partial "scripts.html" .}}
