.content {
  flex: 1;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  article {
    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;
      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;
        @media only screen and (max-width : 768px) {
          font-size: 4.0rem;
          line-height: 4.4rem;
        }
      }
    }
    footer {
      margin-top: 4.0rem;
      .see-also {
        margin: 3.2rem 0;
        h3 {
          margin: 3.2rem 0;
        }
      }
    }
  }
  .post {
    .post-title {
      margin-bottom: .75em;
    }
    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }
      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img{
  width: 20rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-width : 768px) {
    width: 10rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;
    li {
      font-size: 1.8rem;
      @media only screen and (max-width : 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }
      .date {
        display: inline-block;
        width: 20.0rem;
        text-align: right;
        margin-right: 3.0rem;
        @media only screen and (max-width : 768px) {
          display: block;
          text-align: left;
        }
      }
      .title {
        font-size: 1.8rem;
        color: $fg-color;
        font-family: $heading-font-family;
        font-weight: 700;
        &:hover,
        &:focus {
          color: $link-color
        }
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    text-align: center;
    h1 {
      font-weight: 700;
      color: transparent;
      background: linear-gradient(to left, #2576F4, #3298DA, #36B9BC, #39D8AA, #2576F4);
      background-size: 1000px 100%;
      animation: bg 40s linear infinite;
      background-clip: text;
      -webkit-background-clip: text;
      @keyframes bg {
        0% {
          background-position-x: 0;
        }
        100% {
          background-position-x: 10000px;
        }
      }
    }
    h2 {

    }
    h3 {

    }
    ul {
      list-style: none;
      margin: 3.0rem 0 1.0rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1.0rem;
          margin-right: 1.0rem;
          font-size: 1.6rem;
          &:hover,
          &:focus {
            color: $link-color;
          }
          @media only screen and (max-width : 768px) {
            font-size: 1.4rem;
          }
          i {
            font-size: 3.2rem;
          }
        }
      }
    }
    }

  .chat{
    text-align: center;
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2.0rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-width : 768px) {
        font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2.0rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-width : 768px) {
        font-size: 2.8rem;
      }
    }
  }
}

.downloads{
  padding-top: 80px;
  margin-bottom: 150px;
}

.card{
  margin-top: 5rem;
  height: 300px;
  width: 100%;
  .download-title-wrapper{
    height: 50px;
    border: 1px solid $complement-color;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    text-align: center;
    align-items: center;
    padding-right: 10px;
    img{
      width: 40px;
    }
    h5{
      font-size: 2rem;
    }
  }
  .download-links-wrapper{
    display: grid;
    justify-items: center;
    align-content: center;
    height: 250px;
    border: 1px solid $complement-color;
    border-radius: 0 0 10px 10px;
    img{
      display: block;
      width: 150px;
      margin: 2rem;
    }
  }
}

.chat{
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.about{
  height: 30rem;
  width: 100%;
  background-color: red;
}