.navigation {
  height: 6.0rem;
  width: 100%;
  background-color: $gray-color;
  position: fixed;
  padding-left: 5rem;
  padding-right: 5rem;
  z-index: 10000;
  a, span {
    display: inline;
    font-size: 1.8rem;
    font-family: $heading-font-family;
    font-weight: 400;
    line-height: 6.0rem;
    color: $text-color;
  }
  a {
    &:hover{
      color: $complement-color;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
  }
  .navigation-title img{
    width: 50px;
    margin: auto;
    margin-top: 5px;
  }
  .navigation-list {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    @media only screen and (max-width : 768px) {
      position: absolute;
      top: 6.0rem;
      right: 0;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      height: 100vh;
      width: 50%;
      background-color: $secundary-color;
      border-bottom: solid 1px rgb(255, 255, 255);
      transition: opacity 0.250s;
    }
    .navigation-item {
      float: right;
      margin: 0;
      position: relative;
      .active {
        color: #2DD8A3;
      }
      
      .none{
        color: $text-color ;
      }
      @media only screen and (max-width : 768px) {
        float: none !important;
        text-align: center;
        a, span {
          line-height: 5.0rem;
        }
      }
      a, span {
        margin-left: 1.0rem;
        margin-right: 1.0rem;
      }
    }
    .navigation-item a{
      @media only screen and (max-width : 768px) {
        display: block;
      }
    }
    .menu-separator {
      @media only screen and (max-width : 768px) {
        border-top: 2px solid $fg-color;
        margin: 0 8.0rem;
        span {
          display: none;
        }
      }
    }
  }
  #menu-toggle {
    display: none;
    @media only screen and (max-width : 768px) {
      & + label{
        color: $alt-bg-color;
      }
      &:checked + label {
        color: $link-color;
      }
      &:checked + label + ul {
        visibility: visible;
        opacity: 1;
        max-height: 100rem;
      }
    }
  }
  .menu-button {
    display: none;
    @media only screen and (max-width : 768px) {
      display: block;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 6.0rem;
      color: $fg-color;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $link-color
      }
    }
  }
}
