@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');
// Fonts
$text-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Source Sans Pro', sans-serif;
$code-font-family: 'Source Sans Pro', sans-serif;


// Colors
$gray-color:#1c1c1c !default;
$bg-color: rgb(17, 17, 17) !default;
$fg-color: #212121 !default;
$alt-bg-color:#F3F5F6 !default;
$alt-fg-color: #F3F5F6 !default;
$link-color: #2DD8A3 !default;

